@using CalendarApp1.Models
@using CalendarApp1.Services

@namespace CalendarApp1.Components

@* <Toasts class="p-3" AutoHide="true" Delay="4000" Placement="ToastsPlacement.TopRight" /> *@

<div class="cell" style="@cellStyle" @onclick="ShowEventModalCallback">@DayModel.DateOnly.Day

    
    @foreach (var e in DayModel.EventsList.Take(2))
    {
        <div class="event" @onclick:stopPropagation="true" @onclick="OnShowOffcanvasClick">@e.Date.TimeOfDay - @e.EventName</div>
    }
    
    @if (DayModel.EventsList.Count > 2)
    {
        <div class="eventblue" @onclick:stopPropagation="true" @onclick="OnShowOffcanvasClick">Click to see more</div>
    }
    
</div>

<Offcanvas @ref="offcanvas">
    <BodyTemplate>
        <h3>@offcanvasTitle</h3>
        
        @foreach (var e in DayModel.EventsList)
        {
            <div class="eventoff">@e.Date.TimeOfDay @e.EventName - @e.EventInfo
                <Dropdown>
                    <DropdownToggleButton></DropdownToggleButton>
                    <DropdownMenu>
                        <DropdownItem To="#" Type="ButtonType.Link">Edit</DropdownItem>
                        <DropdownItem To="#" Type="ButtonType.Link" @onclick="@(() => DeleteEventCallback(e))">Delete</DropdownItem>
                    </DropdownMenu>
                </Dropdown>
            </div>
        }
        
    </BodyTemplate>
</Offcanvas>

<Modal @ref="modal" Title="@modalTitle">
    <BodyTemplate>
        
        Event time:
        <p>
            <TimeInput TValue="TimeOnly" @bind-Value="@time"/>
        </p>

        Event title:
        <p>
            <InputText ValueExpression="() => text" ValueChanged="(value) => text = value"></InputText>
        </p>

        Event contents:
        <p>
            <InputTextArea ValueExpression="() => message" ValueChanged="(value) => message = value"></InputTextArea>
        </p>

    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Secondary" @onclick="OnHideModalClick">Close</Button>
        <Button Color="ButtonColor.Primary" @onclick="CreateEventCallback">Create Event</Button>
    </FooterTemplate>
</Modal>



@inject CalendarDbService CDbService
@* @inject ToastService ToastService *@
@code {
    [Inject] protected ToastService ToastService { get; set; } = default!;
    
    [Parameter, EditorRequired]
    public DayModel DayModel { get; set; }
    
    TimeOnly time;
    private string text = String.Empty;
    private string message = String.Empty;
    
    private Modal modal = default!;
    private Offcanvas offcanvas = default!;

    string modalTitle = string.Empty;
    string offcanvasTitle = string.Empty;

    string cellStyle => DayModel.DateOnly.DayOfWeek is DayOfWeek.Saturday or DayOfWeek.Sunday
        ? "background-color: lightblue;"
        : string.Empty;

    private async Task OnShowModalClick()
    {
        modalTitle = $"Create an event for {DayModel.DateOnly}";
        await modal.ShowAsync();
    }
    
    private async Task OnHideModalClick()
    {
        await modal.HideAsync();
        ToastService.Notify(new(ToastType.Danger, $"{DateTime.Now} - Event creation was cancelled."));
    }
    
    private async Task ShowEventModalCallback()
    {
        await OnShowModalClick();
    }

    private async Task CreateEventCallback()
    {
        await CDbService.EventCreateAsync(DayModel.DateOnly.ToDateTime(time), text, message);

        DayModel.EventsList.Add(new EventModel(DayModel.DateOnly.ToDateTime(time))
        {
            EventName = text,
            EventInfo = message
        });
        
        await modal.HideAsync();
        ToastService.Notify(new(ToastType.Success, $"{DateTime.Now} - Successfully added an event."));
        StateHasChanged();
    }

    private async Task OnShowOffcanvasClick()
    {
        offcanvasTitle = $"Events of {DayModel.DateOnly}:";
        // StateHasChanged();
        await offcanvas.ShowAsync();
        
    }

    private async Task DeleteEventCallback(EventModel e)
    {
        DayModel.EventsList.Remove(e);
        StateHasChanged();
        await CDbService.DeleteEventAsync(e);
    }

}